<tr>
    <td><%=post.presence_score%></td>
    <td><%=post.highest_presence_score%></td>
    <td><%=post.upvotes%></td>
    <td><%=post.title%></td>
    <td><a href='<%=post.link%>'><%=post.link%></a></td>
    <td><%=post.subreddit%></td>
    <td><%=post.front_page%></td>
    <td><%=post.poster%></td>
    <td><%=post.posted_at.to_formatted_s(:long_ordinal)%></td>
</tr>
